* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general, .informacion .caja, header {
  background-color: #f9f9e7;
  font-family: "Poppins", sans-serif;
}

header .nav-link {
  color: #161613;
}
header .nav-link:hover {
  color: #46b5a2;
}

footer {
  font-family: "Poppins", sans-serif;
  background: #46b5a2;
}
footer span {
  font-size: 25px;
  color: #161613;
}
footer span:hover {
  color: #f9f9e7;
}
footer .bi {
  color: #161613;
}
footer h4 {
  color: #161613;
}

.ov-btn-grow-box {
  background: #46b5a2;
  color: #f9f9e7;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border: 2px solid #f9f9e7;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-grow-box:hover {
  color: #46b5a2;
  border-color: #46b5a2;
}
.ov-btn-grow-box::after {
  content: "";
  background: #f9f9e7;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.ov-btn-grow-box:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

.botones {
  background: #46b5a2;
  border-color: #f9f9e7;
  color: #f9f9e7;
}
.botones:hover {
  background: #f9f9e7;
  border-color: #46b5a2;
  color: #46b5a2;
}

.logo {
  width: 100px;
  height: 50px;
}

section {
  font-family: "Poppins", sans-serif;
}
section .imagen {
  border-radius: 20px;
}
section h1 span {
  color: #46b5a2;
}

.card-presentacion {
  color: #46b5a2;
  background: #f9f9e7;
  transition: transform 0.2s;
}
.card-presentacion:hover {
  background: #46b5a2;
  color: #f9f9e7;
  transform: scale(1.1);
}
.card-presentacion:hover .card-title {
  color: #f9f9e7;
}
.card-presentacion .card-title {
  color: #46b5a2;
}

.card-seccion {
  width: 18rem;
  border-color: #46b5a2;
  border-width: 2px;
  transition: transform 0.2s;
}
.card-seccion:hover {
  transform: scale(1.1);
}
.card-seccion .card-title {
  font-size: 30px;
  color: #46b5a2;
}
.card-seccion .botones {
  background: #46b5a2;
  color: #f9f9e7;
}
.card-seccion .botones:hover {
  background: #f9f9e7;
  color: #161613;
  border-color: #46b5a2;
}

.noticia {
  transition: transform 0.2s;
}
.noticia:hover {
  transform: scale(0.9);
}
.noticia:hover .botones {
  background: #46b5a2;
  color: #f9f9e7;
}
.noticia h3 {
  font-size: 25px;
}
.noticia .botones {
  border-color: #46b5a2;
  border-width: 2px;
}

.lanzamiento-seccion h2 {
  font-size: 50px;
  text-align: center;
}
.lanzamiento-seccion .boton {
  font-size: 40px;
  border-color: #46b5a2;
  color: #46b5a2;
  transition: transform 0.2s;
}
.lanzamiento-seccion .boton:hover {
  transform: scale(1.1);
  color: #46b5a2;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.lanzamiento {
  font-family: "Poppins", sans-serif;
}
.lanzamiento h3 {
  background-color: #46b5a2;
  color: #f9f9e7;
  font-size: 35px;
}

.informacion .caja {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.informacion .caja h3 {
  font-size: 35px;
}
.informacion .caja h4 {
  font-size: 30px;
  color: #46b5a2;
}
.informacion .caja ul {
  list-style: square;
}
.informacion .caja ul li a {
  text-decoration: none;
  color: #161613;
  font-size: 20px;
}
.informacion .caja ul li a:hover {
  color: #46b5a2;
}

.boton-proyecto {
  font-size: 25px;
  background: #f9f9e7;
  color: #46b5a2;
  border: 2px solid #46b5a2;
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.boton-proyecto::before, .boton-proyecto::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #46b5a2;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.boton-proyecto::after {
  left: 100%;
}
.boton-proyecto:hover {
  color: #f9f9e7;
}
.boton-proyecto:hover::before {
  left: 0;
}
.boton-proyecto:hover::after {
  left: 50%;
}

/*# sourceMappingURL=style.css.map */
