* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-principal: #f9f9e7;
$color-secundario: #46b5a2;
$fuente-general: 'Poppins', sans-serif;

.general {
    background-color: $color-principal;
    font-family: $fuente-general;
}