header {
    @extend .general;

    .nav-link {
        color: #161613;

        &:hover {
            color: $color-secundario;
        }
    }
}

footer {
    font-family: $fuente-general;
    background: $color-secundario;

    span {
        font-size: 25px;
        color: #161613;

        &:hover {
            color: $color-principal;
        }
    }

    .bi {
        color: #161613;
    }

    h4 {
        color: #161613;
    }

}

.ov-btn-grow-box {
    background: $color-secundario;
    color: $color-principal;
    text-decoration: none;
    font-family: $fuente-general;
    border: 2px solid $color-principal;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;

    &:hover {
        color: $color-secundario;
        border-color: #46b5a2;
    }

    &::after {
        content: "";
        background: $color-principal;
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(0, 0);
        transition: all 0.3s ease;
    }

    &:hover::after {
        transition: all 0.3s ease-out;
        transform: scale(1, 1);
    }
}

.botones {
    background: $color-secundario;
    border-color: $color-principal;
    color: $color-principal;

    &:hover {
        background: $color-principal;
        border-color: $color-secundario;
        color: $color-secundario;
    }
}